@font-face {
  font-family: 'FontleroyBrownRegular';
  src: url('../fonts/FontleroyBrown-webfont.eot');
  src: url('../fonts/FontleroyBrown-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FontleroyBrown-webfont.woff') format('woff'),
       url('../fonts/FontleroyBrown-webfont.ttf') format('truetype'),
       url('../fonts/FontleroyBrown-webfont.svg#FontleroyBrownRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing:border-box;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; /* Prevent any content overflow */
  padding: 0; 
  position: absolute; /* Remove from the flow of the document */
  width: 1px;
}

body {
  background: url('../img/floor.jpg') bottom center repeat-x, 
              url('../img/wall.jpg') top left repeat;
  padding:0;
  position:relative;
}
.readable { 
  background:#fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: .25em;
  margin-top: .5em;
  box-shadow:0 0 .25em rgba(0,0,0,.9);
}

.gallery li {
  list-style-type: none;
  margin:.5em 0 .5em 13px;
  height:166px;
  overflow:hidden;
  border-radius:.25em;
  border:2px solid #ddd;
}
.gallery li:hover{
  border:2px solid #c00;
}
.dialog {
  position:fixed;
  z-index:20000;
  top:10%;
  left:40%;
}
.dialog img{
  display:block;
  overflow:hidden;
  border:5px solid #333;
  border-radius:.5em;
  box-shadow:0 0 3em rgba(0,0,0,.9);
  position:relative;
  
}

section a {
  text-decoration:underline;
}
footer section {
  margin: .5em 0;
}
section>h2 {
  line-height: 1em; 
  padding: .25em 0 .25em .5em;
}

.hero-unit {
  padding: .25em 1.5em;
  margin-bottom:.25em;
}

.hero-unit h1, h2 {
  font-family: 'FontleroyBrownRegular','Harrington',Serif;  
  font-weight:normal; 
  letter-spacing: -.03em; 
  line-height:20px; 
  color:#c00; 
  font-size:4em;
}

.hero-unit h1 {
  font-size:6em;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a, .form-search label {
  color:#fefefe;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus  {
  text-decoration:underline;
}
.intro {
  background:url('../img/roses.jpg') top left no-repeat #c00;
  background-size:cover;
  color:#fefefe;
}
.intro h1, .intro h2 {
  color:#fff; 
  clear:both; 
  margin: .5em 0; 
  line-height: .3em; 
  text-shadow:.02em .05em .15em rgba(0,0,0,.7);
}

.intro h2 small {
  color:#dfdfdf; 
  font-size: .5em;
}

.content {
  position:relative; 
  top:-19px;
}

.close {
  position: relative;
  background: #c00;
  opacity: 1.0;
  color: #fff;
  padding: 0 .25em .35em .25em;
  border-radius: 1em;
  border: 2px solid #fff;
  box-shadow: 0 0 .25em rgba(0,0,0,.5);
  line-height: 0.7em;
  left: -1.5em;
  z-index: 30000;
}
.close:hover {
  opacity:1.0;
  color:#c00;
  background:#fff;
}
form ul {
  list-style-type: none;
}
label {
  font-weight: bold;
}
blockquote.pullquote {
 font-size: 3.5em;
  font-family: 'FontleroyBrownRegular','Harrington',Serif;
  width: 3em;
  line-height: .7em;
  float: left;
  display: block;
  color:#c00;text-align:right;
  padding: .25em .5em .25em 0;
  background:#fff;
  border:none;
}

blockquote.pullquote.right{
  float:right; 
  text-align: left;
  padding: .25em 0 .25em .5em;
}

header .navbar-inner .container {
  width:90%;
}

p:first-child:first-letter {
  font-family: 'FontleroyBrownRegular','Harrington',Serif; 
  line-height:1em;
  font-size:4em; top:1em; 
  position:relative;
  display:block;
  margin:1em 0 0 0; 
  padding: 2em 0 0 0;
}

p:not(.button-wrap) {
  text-indent: 1.5em; 
  position:relative; 
  text-align:left;
}
.transcript{}
img { 
  border:5px solid #fff; 
  display:inline-block;
}
.gallery img {
  border:none;
  float:none;
  margin: 0;
}
@media (max-width: 480px){
  .hero-unit {
    padding: 1em;
  }
  
  .intro.hero-unit h1 {
    font-size:3.5em;
  }
  
  .hero-unit h2 {
    font-size:2.5em;
  }
  
  .intro h2 small {
    clear:both; 
    display:block; 
    margin: .25em 0 0 0; 
    font-size:.9em;
  }

  blockquote.pullquote{
    float:none; 
    text-align: left; 
    width:auto; 
    font-size: 5em;
  }
}

@media (min-width: 481px){
  .intro.hero-unit h1 {
    font-size:5em; 
    line-height: .7em;
  }
  
  .hero-unit h2 {
    font-size:3em;
  }
  
  .intro h2 small {
    margin: .5em 0 0 0;
  }
  
  
}
@media (min-width:768px){
  .intro.hero-unit h1 {
    font-size:6em;
  }
  .hero-unit h2 {
    font-size:4em;
  }
  .intro h2 small {
    clear:none; 
    display:inline; 
    font-size:.7em;
  }
  img {
    float:right; 
    margin: .5em;
  }
}










